# Игнорируем файлы и каталоги, которые не нужны в образе Docker

# Игнорируем скрытые файлы и каталоги
.dockerignore
!.dockerignore

# Игнорируем все, что связано с системой контроля версий
.git
.gitignore

# Игнорируем файлы и каталоги, созданные IDE и редакторами
.vscode
.idea/
.idea
*.swp
*.swo

# Игнорируем node_modules (если есть)
node_modules

# Игнорируем файлы, созданные при разработке и не нужные в продакшн
__pycache__
*.py[cod]
*.log
*.sqlite3
*.env

# Игнорируем результаты сборки и временные файлы
build
dist
tmp
*.tmp

# Игнорируем Docker файлы и каталоги
Dockerfile*
docker-compose.yml

# Игнорируем статические и медиа файлы, если они не должны быть включены
static
media
media/

# Игнорируем конфигурационные файлы локальной среды
.env.local
.boycott/
db.sqlite3