{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Boycott Products Platform{% endblock title %}</title>

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/hero.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/sections.css' %}">
    <link rel="stylesheet" href="{% static 'css/layouts/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/layouts/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/layouts/categories.css' %}">
    <link rel="stylesheet" href="{% static 'css/layouts/chat.css' %}">
    <link rel="stylesheet" href="{% static 'css/layouts/info_blocks.css' %}">
    <link rel="stylesheet" href="{% static 'css/layouts/product_card.css' %}">
    <link rel="stylesheet" href="{% static 'css/layouts/search.css' %}">
    <link rel="stylesheet" href="{% static 'css/layouts/search.css' %}">

    {% block extra_links %}{% endblock extra_links %}
</head>
<body>
<!-- Заголовок и навигация -->
{% include 'includes/header.html' %}

<!-- Content block -->
{% block content %}{% endblock content %}

<!-- Футер -->
{% include 'includes/footer.html' %}
</body>
</html>