{% extends "layouts/base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-3">{{ product.name }}</h2>
    <div class="row">
        <div class="col-md-6">
            {% if product.image %}
            <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
            {% endif %}
        </div>
        <div class="col-md-6">
            <p><strong>Description:</strong> {{ product.description }}</p>
            <p><strong>Category:</strong> {{ product.category.name }}</p>
            <p><strong>Rating:</strong> {{ product.get_rating }} / 5</p>
            {% if product.is_boycotted %}
                <span class="badge bg-danger">Boycotted</span>
                <p><strong>Reason:</strong> {{ product.boycott_reason.title }}</p>
            {% endif %}
            <h5>Alternative Products</h5>
            <ul>
                {% for alt_product in product.alternative_products.all %}
                <li><a href="{% url 'product:product-detail' alt_product.pk %}">{{ alt_product.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
